@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .btn {
    @apply rounded bg-blue-700 text-white p-1;
  }

  .alert {
    @apply bg-yellow-700 text-white rounded p-2
  }
}